@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;;

}

.contact{
    padding-top: 8%;
    padding-left: 70px
}
.contact p{
    padding-top: 10px;
    line-height: 30px;
    font-weight: initial;
}